<div class="space-y-6 relative">
    @if(selectedQuestion$ | async; as data) {
    <div class="question-section">
        <div class="serial-number">
            <span>{{ '01' }}</span>
        </div>

        <div class="pl-2">
            <!--? This is Final design -->

            <div class="flex flex-wrap items-center gap-3 text-xs font-medium text-slate-600 mb-2">
                <!-- Brand/Topic -->
                <span class="text-orange-600 font-bold uppercase tracking-wider">{{ data.language }}</span>

                <span class="text-slate-300">•</span>

                <span class="text-slate-500">{{data.topicLabel}}</span>

                <span class="text-slate-300">•</span>

                <span class=" px-2.5 py-1 rounded-full" [ngClass]="{
                        'bg-blue-50 text-blue-700': data.label === label.Beginner,
                        'bg-amber-50 text-amber-700': data.label === label.Intermediate,
                        'bg-indigo-50 text-indigo-700': data.label === label.Expert,
                        'bg-teal-50 text-teal-700': data.label === label.Mastery,
                        'bg-emerald-50 text-emerald-700': data.label === label.Advanced,
                        }">
                    {{data.label | titlecase}}
                </span>

                <span class="text-slate-300">•</span>

                <span class="bg-blue-50 text-blue-600 px-2.5 py-1 rounded-full">{{ data.id | padZero:2 }}</span>

                <span class="text-slate-300">•</span>

                <span class="bg-zinc-200 text-zinc-700 px-2.5 py-1 rounded-full">{{ data.serialNumber | padZero:2
                    }}</span>

                <span class="text-slate-300">•</span>
                <!-- ?This is for the content status, we can have different colors based on the status value. -->

                <span
                    class="inline-flex items-center gap-1.5 px-3 py-1 rounded-full text-xs font-semibold border capitalize"
                    [ngClass]="{
                        'bg-slate-100 text-slate-600 border-slate-200': data.content_status === WorkStatus.Draft,
                        'bg-amber-50 text-amber-700 border-amber-200': data.content_status === WorkStatus.Pending,
                        'bg-indigo-50 text-indigo-700 border-indigo-200': data.content_status === WorkStatus.InProgress,
                        'bg-purple-50 text-purple-700 border-purple-200': data.content_status === WorkStatus.InReview,
                        'bg-emerald-50 text-emerald-700 border-emerald-200': data.content_status === WorkStatus.Approved,
                        'bg-teal-50 text-teal-700 border-teal-200': data.content_status === WorkStatus.Completed,
                        'bg-rose-50 text-rose-700 border-rose-200': data.content_status === WorkStatus.Rejected,
                        'bg-sky-50 text-sky-700 border-sky-200': data.content_status === WorkStatus.Updated,
                        'bg-zinc-200 text-zinc-700 border-zinc-300': data.content_status === WorkStatus.Archived
                        }">

                    {{ data.content_status | titlecase }}
                </span>
                <span class="text-slate-300">•</span>

                <!-- Time to Read -->
                <span class="text-slate-400 flex items-center gap-1">
                    5 min read
                </span>
            </div>
            <!--? This is Final design ends -->

            <h2 class="question-text">
                {{ data.question }}
            </h2>


            <div class="answer-section" [innerHTML]="setHtml(data.answer)">
            </div>
            @if (data.answer2) {
            <hr class="border-slate-200 my-6" />
            <div class="mt-3"><span class="text-lg font-medium">Additional Explanation:</span></div>
            <div class="answer-section" [innerHTML]="setHtml(data.answer2)"></div>
            }


            @if(data.codeTitle){
            <div class="answer-section" [innerHTML]="setHtml(data.codeTitle)">
            </div>
            }

            @if (data.codeEditor) {
            <span>{{data.codeLanguage}}</span>
            <div class="code-container combineBothDirectives mt-6">
                <pre aicCodeSnippetDirective [codeBlock]="data.codeEditor" [language]="data.codeLanguage"></pre>
            </div>
            }

            @if(data.codeTitle2){
            <div class="answer-section" [innerHTML]="setHtml(data.codeTitle2)">
            </div>
            }

            @if (data.codeEditor2) {
            <span>{{data.codeLanguage2}}</span>
            <div class="code-container combineBothDirectives mt-6">
                <pre aicCodeSnippetDirective [codeBlock]="data.codeEditor2" [language]="data.codeLanguage2"></pre>
            </div>
            }

            @if(data.codeTitle3){
            <div class="answer-section" [innerHTML]="setHtml(data.codeTitle3)">
            </div>
            }

            @if (data.codeEditor3) {
            <span>{{data.codeLanguage3}}</span>
            <div class="code-container combineBothDirectives mt-6">
                <pre aicCodeSnippetDirective [codeBlock]="data.codeEditor3" [language]="data.codeLanguage3"></pre>
            </div>
            }
            @if (data.answer3) {
            <div class="answer-section" [innerHTML]="setHtml(data.answer3)"></div>
            }
            @if (data.answer4) {
            <div class="answer-section" [innerHTML]="setHtml(data.answer4)"></div>
            }
        </div>
    </div>
    }
</div>