$codeColor: #ebebeb;

.question {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .font-medium {
        font-weight: 500;
    }
}

.width-35 {
    width: 35px;
}

.code-block {
    font-family: 'Consolas', Monaco, monospace;
    color: inherit;
    border: 1px solid $codeColor;
    padding: 3px 8px;
    margin: 0 1px;
    font-size: 16px;
    display: inline-block;
    background-color: $codeColor;
    border-radius: 3px;

    pre {
        margin: 0;
        font-size: 16px;
    }
}

//*  html generated CSS

.list-items {
    list-style-type: disc;
    padding-left: 20px;
}


// telwind 



// @tailwind base;
@tailwind components;
// @tailwind utilities;

@layer components {
  .italic-answer {
    @apply bg-slate-50 border-l-4 border-orange-500 p-3 rounded-r-xl text-slate-700 italic;
  }
  .typesCategory {
    @apply text-sm font-medium uppercase tracking-wide text-slate-400 mb-4;
  }
}
